body {
    margin: 0;
    background-color: #eee;
}
.paper {
    min-height: 500px;
    background-color: #FAFAFA !important;
}
.notification-wrapper {
    float: right;
    color: #fff;
    padding-top: 6px;
    margin-right: 10px;
}

.background-content {
    background-color: #2196F3;
    height: 350px;
    position: absolute;
    top: 60px;
    width: 100%;
}

.post-form {
    width: 400px;
    padding: 16px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.post-list {
    margin-top: 30px;
}

.group-action {
    position: absolute;
    right: -48px;
}

.post-item {
    width: 400px;
    padding-top: 16px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.post-item__user-info,
.post-item__text,
.post-item__action {
    margin: 0 16px 16px;
}
.post-item__action {
    text-align: center;
}
.post-item__new-comment__text {
    font-size: 12px;
}
.post-item__user-info__name {
    margin-left: 8px;
}
.post-item__option {
    float: right;
}
.post-item__new-comment {
    padding-left: 16px;
    background-color: #FAFAFA
}
.post-item__new-comment__text {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: #FAFAFA;
    margin-top: 12px;
    width: 320px;
}
.post-item__attachment {
    color: rgba(0,0,0,0.6);
    text-decoration: none !important;
    background: #e4e4e4;
    padding: 1px 5px 1px 0;
    border-radius: 12px;
    display: inline-block;
    margin-top: 3px;
}
.post-item__comments {
    padding: 16px 16px 0;
    background-color: #F5F5F5;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #eee;
}
.post-item__votes-count,
.post-item__comments-count {
    font-size: 12px;
    position: relative;
    top: -3px;
    color: #757575;
}
.post-item__votes-count {
    margin-left: 10px;
}
.post-item__comments-count {
    margin-right: 10px;
}

.comment-item:not(:last-child) {
    margin-bottom: 16px;
}
.comment-item__avatar {
    float: left;
}
.comment-item__body {
    margin-left: 38px;
}
.comment-item__user,
.comment-item__text {
    font-size: 12px;
}
