body {
    margin: 0;
    background-color: #eee;
}

.notification-wrapper {
    float: right;
    color: #fff;
}

.background-content {
    background-color: #2196F3;
    height: 350px;
    position: absolute;
    top: 60px;
    width: 100%;
}
